# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='cas4-guat3mal4-4pp-5C!0'

# ENV CONFIG
PORT='%PORT%'
DATABASE_PORT='%DATABASE_PORT%'
DIALECT='%DIALECT%'
DATABASE_URI='%DATABASE_URI%'
DATABASE_USER='%DATABASE_USER%'
DATABASE_PASS='%DATABASE_PASS%'
DATABASE_NAME='%DATABASE_NAME%'